{% extends 'base.html' %}


{% block content %}

<div class="card-body">
    <h3>{{ user.username }}'s Dashboard</h3>
</div>

<div class="row">

    
    <div class="col">
        <div class="card-body">
            <h5>Tasks</h5>
        </div>
        
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Due Date & Time</th>
                <th scope="col">Status</th>
                <th scope="col">Approval</th>
                <th scope="col">Assigned to</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
{% for task in tasks %}
            <tr>
                <td>{{task.name}}</td>
                <td>${{task.amount}}</td>
                <td>{{task.due_date}}</td>
                <td>{{task.task_status}}</td>
                <td>{{task.task_status}}</td>
                <td>{{task.task_approval}}</td>
                <td><a class="btn btn-primary" href="{% url 'task_update' task.pk %}">Edit</a></td>
                <td><a class="btn btn-primary" href="{% url 'task_delete' task.pk %}">Delete</a></td>
{% endfor %}                
            </tr>

            </tbody>
          </table>

    </div>
    <div class="col">
      
        <div class="card-body">
            <h5>Transactions</h5>
        </div>
     
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Sending User</th>
                <th scope="col">Recieving User</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
{% for transaction in transactions %}
            <tr>
                <td>${{transaction.amount}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.sending_user}}</td>
                <td>{{transaction.receiving_user}}</td>
                <td><a class="btn btn-primary" href="{% url 'transactions_update' transaction.pk %}">Edit</a></td>
                <td><a class="btn btn-primary" href="{% url 'transactions_delete' transaction.pk %}">Delete</a></td>             
                
{% endfor %}                
            </tr>

            </tbody>
          </table>

    </div>
  </div>




{% endblock %}