{% extends 'base.html' %}

{% block content %}

<!-- <section>
    <div></div>
    <label class="t1">Transaction Details</label>
    <table class="table1">
        
        <thead>
            <tr>
                <th>${{transaction.amount}}</th> -->
                <!-- <th>No.</th>
                <th>Name</th> -->
                <!-- <th>Amount Debited</th>
                <th>Amount Credited</th>
                <th>Account Balance</th> -->
            <!-- </tr>
        </thead>

    </table>
    <label><a href="">Return to Dashboard</a></label>
</section> -->



{% endblock %}