{% extends 'base.html' %}

{% block content %}

<section>
    <div></div>
    <label class="t1">Transactions Detail</label>
    <table class="table1">
        
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Amount Debited</th>
                <th>Amount Credited</th>
                <th>Account Balance</th>
            </tr>
        </thead>

    </table>
    <label><a href="">Return to bashboard</a></label>
</section>



{% endblock %}