{% extends 'base.html' %}

{% block content %}

<!-- <div>
    <label class="t1">Transaction Details</label>
</div> -->
<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Amount</th>
        <th scope="col">Date & Time</th>
        <th scope="col">Sending User</th>
        <th scope="col">Receiving User</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->

<section>
    <div>
        <label class="container justify-content-center">Transaction Details</label>
    </div>

    <div class="container justify-content-center">
        <p>Amount: {{transaction.amount}}</p>
        <p>Date: {{transaction.date}} </p>
        <p>Sending User: {{transaction.sending_user}} </p>
        <p>Receiving User: {{transaction.receiving_user}} </p>

    </div>
    <div class="container justify-content-center">
        <a href="{% url 'transactions_update' transaction.pk %}" class="btn btn-info" role="button">Update</a>
        <a href="{% url 'transactions_delete' transaction.pk %}" class="btn btn-info" role="button">Delete</a>
    </div>
</section>



{% endblock %}